@model IEnumerable<Souq.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Products</h2>
         
        </div>

        <div class="row portfolio-container">
            @foreach (var item in Model)
            {
               <partial name="_productPartial"model="@item"/>
            }

        </div>

    </div>
</section>


